// PS: SP2013 css
link(rel="stylesheet", href="bower_components/sp2013-css/pagelayouts15.css")
link(rel="stylesheet", href="bower_components/sp2013-css/corev15.css")
link(rel="stylesheet", href="bower_components/sp2013-css/controls15.css")
link(rel="stylesheet", href="bower_components/sp2013-css/search.css")
style(type='text/css')
  body {
    overflow: visible;
  }
// PE: SP2013 css
